.logo{
    max-width: 140px;
}

ul {
    display: flex;
    flex-wrap: wrap;
  
    gap: 32px;
}
  
ul li {
    list-style: none;
    text-decoration: none;
}
  
ul li a{
    font-weight: 600;
    color: white;
}
ul li a:hover{
  
    padding: 4px 5px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../imgs/bc.jpg);
    background-size: cover;
   
}